@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 45% 96%;
    --foreground: 13 81% 15%;
    --card: 0 0% 100%;
    --card-foreground: 13 81% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 13 81% 15%;
    --primary: 21 90% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 80% 92%;
    --secondary-foreground: 30 100% 21%;
    --muted: 30 40% 94%;
    --muted-foreground: 28 46% 43%;
    --accent: 22 100% 60%;
    --accent-foreground: 30 100% 21%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 28 50% 74%;
    --input: 28 50% 74%;
    --ring: 24 100% 45%;
    --radius: 0.75rem;
    --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
      Arial, sans-serif;
  }

  * {
    @apply border-border;
  }

  html,
  body {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    touch-action: manipulation;
  }

  body {
    @apply bg-background text-foreground;
  }
}
