DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3002"
NEXTAUTH_SECRET="change-me-en-produccion"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
DAILY_REPORT_HOUR="23:20"
MANUAL_REPORT_HOUR="23:10"
