DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3002"
NEXTAUTH_SECRET="change-me-en-produccion"
TELEGRAM_BOT_TOKEN="8813738803:AAEDFTfmlFdBhY8cdjxTXcKkgPCLGZo79jE"
TELEGRAM_CHAT_ID="799049998"
DAILY_REPORT_HOUR="23:20"
MANUAL_REPORT_HOUR="23:10"
